<div class="wrapper entry">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<p class="u-textXl">Please login in order to view this resource. </p>
			<form class="form-horizontal" role="form" ng-submit="vm.login()">
				<div class="form-group">
					<label for="email" class="control-label control-label-icon">Email <span><i class="dn-icon-mail"></i></span></label>
					<input type="email" class="form-control" id="email" placeholder="Email" ng-model="vm.email" required>
				</div>
				<div class="form-group">
					<label for="password" class="control-label control-label-icon">Password <span><i class="dn-icon-password"></i></span></label>
					<input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.password" required>
				</div>
				<div class="form-group">
					<a class="u-floatRight u-white" ui-sref="register">Create an Account</a>
					<a class="u-white" ng-click="vm.forgotPassword();">Forgot Password?</a>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Sign in</button>
				</div>
			</form>
		</div>
	</div>
</div>