<div class="home-panelOne home-panel" ng-style="{'background-image': (panelOne.thumbFacebookMetaTag === null ||  panelOne.customHeadContent !== '') ? '' : 'url(' + panelOne.thumbFacebookMetaTag + ')'}">
	<div class="row home-container">
		<div class="u-textCenter col-sm-12">
			<img ng-src="../../../Content/Images/shield.png" class="home-logo" />
			<h1><img alt="{{vm.title}}" ng-src="../../../Content/Images/logo.png" /></h1>
			<navigation class="home-navigation"></navigation>
		</div>
	</div>


	<div class="tv" ng-hide="panelOne.customHeadContent === ''">
		<youtube-video video-id="panelOne.customHeadContent" player-vars="playerVars"></youtube-video>
	</div>

	<a class="home-scrollTrigger" ng-click="vm.gotoAnchor('homePanelTwo')"><i class="dn-icon-arrow-down"></i></a>
</div>