<div id="anchor{{'homePanelTwo'}}" class="home-panelTwo home-panel anchor" ng-style="{'background-image': 'url(' + panelTwo.thumbFacebookMetaTag + ')'}">
	<div class="home-panelTwoSlider">
		<slick init-onload=true ng-if="slidesLoaded" fade="true" autoplay="true" speed=1000 autoplayspeed=8000 arrows=false dots=true pauseOnHover=false ng-bind-html="panelTwo.content | unsafe"></slick>
	</div>
	<a class="home-scrollTrigger" ng-click="vm.gotoAnchor('homePanelThree')"><i class="dn-icon-arrow-down"></i></a>
</div>