<aside class="rightSidebar dashboard-sidebarContent">
	<div class="location-selector">
		<strong>Corps:</strong> Mayfair Community Corps, Chicago, USA <a class="location-selectorToggle">&nbsp;</a>
	</div>
	<div class="location-filters">
		<a href="#" class="active">Activities</a>
		<a href="#">Reached</a>
		<h3>Top 25 List</h3>
	</div>
	<ol class="dashboard-list">
		<li>
			<div class="dashboard-profilePhoto active">
				<img src="http://www.fillmurray.com/85/85" />
			</div>
			<div class="dashboard-activities">
				<strong>Me</strong><br />
				32 Activities Completed
			</div>
		</li>
		<li>
			<div class="dashboard-profilePhoto active">
				<img src="http://www.fillmurray.com/85/85" />
			</div>
			<div class="dashboard-activities">
				<strong>Me</strong><br />
				32 Activities Completed
			</div>
		</li>
		<li>
			<div class="dashboard-profilePhoto active">
				<img src="http://www.fillmurray.com/85/85" />
			</div>
			<div class="dashboard-activities">
				<strong>Me</strong><br />
				32 Activities Completed
			</div>
		</li>
	</ol>
</aside>
