<aside class="leftSidebar dashboard-sidebar">

	<ul class="dashboard-nav">
		<li class="dashboard-navItem active">
			<a class="dashboard-navLink" ui-sref="dashboard"><span></span> Me</a>
		</li>
		<li class="dashboard-navItem">
			<a class="dashboard-navLink" ui-sref="division"><span></span> Division</a>
		</li>
		<li class="dashboard-navItem">
			<a class="dashboard-navLink"><span></span> Territory</a>
		</li>
		<li class="dashboard-navItem">
			<a class="dashboard-navLink"><span></span> Country</a>
		</li>
		<li class="dashboard-navItem">
			<a class="dashboard-navLink"><span></span> Zone</a>
		</li>
	</ul>
</aside>