.wrapper .content .ng-scope:last-child article:last-of-type {
    margin-bottom:0;
}

.blogPost {
    background:white;
    padding: 3.5em 2.2em 4.5em;
    position:relative;
    box-shadow:0 0 5px rgba(0,0,0,.25);
    margin-bottom:1em;
   
    @media (min-width:$screen-sm-min){
         header {
            margin: 0 0 30px;
        }
    }
    @media (max-width:$screen-xs-max) {
        img {
            margin:1em auto !important;
            display:block !important;
            float:none !important;

        }
    }
}

.blogPost-title {
    font-size: 16px;
    margin-bottom: 0.35em;
    color: #372F39;
    font-family: "roboto", sans-serif;
    font-weight: 600;
}

.blogPost-tags {
    position:absolute;
    top:1em;
    right:1em;
    font-size:11px;
}

.blogPost-meta {
    font-size: 12px;
    margin: -2px 0 0;
    display: block;
    font-weight:bold;
    color: #372F39;
    span {
        font-weight:normal;
    }
    .dn-icon-calendar {
        font-size: 15px;
        margin-top: 4px;
        display: block;
        float: left;
        margin-right: 5px;
    }
}

.blogPost-content {
    font-size: 13px;
    margin: .75em 0 0;
    img[style*="float:left"] {
        margin:.5em 1em 1em 0;
    }
}