.dateTimeModule {
    background-color:rgb(46,166,199);
    font-size:20px;
    color:white;
    span {
        color:$black;
    }
}

.dateTimeModule-toggle {
    font-size: 18px;
    font-weight: 200;
    float: right;
    color: white;
    padding: 12px 10px 0;
    &:hover {
        color:white;
        text-decoration:none;
    }
}

.dateTimeModule-details {
    clear: both;
    padding: 0 16px 6px;
    position: relative;
    top: -9px;
    line-height: 1.4em;
    font-size:18px;
}