.event {
    @extend .blogPost;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,ffffff+100 */
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    @media (min-width:$screen-sm-min) {
        display:flex;
        padding-right:2em;
    }
}

.event-featuredPhoto {
    margin:0 auto;
    display:block;
    @media (min-width:$screen-sm-min){
        margin:0 auto 1em;
    }
}

.event-photo {
    width:150px;
    margin: 0 1.6em 0 0;
    overflow:hidden;
    float:left;
    //padding-top:34px;
    @media (min-width:$screen-sm-min) {
        width:260px;
        float:none;
        padding-top:0;
    }
    img {
        object-fit:cover;
        max-width:100% !important;
        height:100%;
        margin:0!important;
    }
}

.event-details {
   
    @media (min-width:$screen-sm-min) {
        width:calc(100% - 280px);
        //padding: 2em 0 0;
        display:flex;
    }
}

.event-meta {
    line-height: 1.3;
    font-size: 13px;
    margin: 7px 0 10px;
    font-weight: bold;
    color:rgb(98,86,101);
    @media (min-width:$screen-sm-min) {
        margin:15px 0 20px;
    }
    p {
        margin: 0 0 5px;
    }
    address {
        font-style:normal;
    }
}

.event-title {
    margin:0 0 10px;
    line-height:1.2;
    font-size:16px;
    color:$black;
    font-weight: 600;
    font-family: $sans-serif;
}

.event-content {
    padding:1em 0 0 .25em;
    @media (min-width:$screen-sm-min) {
        padding:0;
    }
}

.event-body {
    //height:0;
    overflow:hidden;
    @media (min-width:$screen-sm-min) {
        //height:auto;
        overflow:visible;
    }
}

.event-time {
    
    display:none;
    text-align: center;
    padding: 10px 14px;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 1em 0 0;

    color: white;
    background: black;
    position: absolute;
    width: 150px;

    span {
        font-weight:bold;
        color:$black;
    }

    @media (min-width:$screen-sm-min) {
        display: block;
        background:transparent;
        color:inherit;
        position:relative;
        width:auto;
        border: 1px solid #ccc;
        span {
            font-size: 28px;
            display: block;
        }
    }
    
}

.event-directions {
    border:1px solid $blue;
    padding:5px 10px;
    margin:0 0 1em 1em;
    transition:all .35s;
    float:right;
    &:hover {
        color:white;
        text-decoration:none;
        background-color:$blue;
    }
}

.event-directions {
    display:none;
    @media (min-width:$screen-sm-min) {
        display:block;
    }
}

.event-details {
    width: calc(100% - 163px);
    margin-bottom:4em;
}

.event {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.event-time {
    left: 0;
    font-weight:600;
    color:$black;
}