.featuredPost-container {
    background:$blue;
}

.featuredPost-heading {
    color: white;
    font-weight: normal;
    font-size: 16px;
    padding: 15px 15px;
    background: #285E78;
    margin: 0;
}

a.featuredPost-link {
    display:block;
    background:transparent;
    color:white;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    transition:background-color .35s;
    &:hover,
    &:active,
    &:focus,
    &.active {
        color:white;
        text-decoration:none;
        background-color:$blueDark;
        .featuredPost-date {
            background-color:$blueDark;
        }
    }
}

.featuredPost-date,.featuredPost-title {
    display: inline-block;
    vertical-align: middle;
}

.featuredPost-date {
    border-right: 1px solid rgb(83,163,192);
    background-color:rgb(55,129,160);
   // transition:background-color .35s;
    text-align: center;
    padding: 11px 5px;
    font-size: 12px;
    font-weight: 600;
    width: 80px;
    span {
        display:block;
        font-size: 32px;
        font-weight: 400;
        margin: 8px 0;
    }
}

.featuredPost-title {
    width: calc(100% - 84px);
    padding: 9px 10px;
    font-size: 12px;
    line-height: 1.2;
    font-family:inherit;
    font-weight:600;
}

.search-term {
    color: #95989A;
}