.content + .rightSidebar {
   display:none;
    @media (min-width:$screen-sm-min) {
        display: inline-block;
        vertical-align: top;
        max-width: 19.75%;
        position:fixed;
        overflow-y:hidden;
        background:rgb(60,155,185);
        min-height:99vh;
    }
}

.featuredPost-container {
    background:$blue;
}

.featuredPost-heading {
    color: white;
    font-weight: normal;
    font-size: 16px;
    padding: 15px 15px;
    background:$blueDark;
}

a.featuredPost-link {
    display:block;
    background:transparent;
    color:white;
    border-bottom:1px solid rgb(83,163,192);
    transition:background-color .35s;
    &:last-child {
        border-color:transparent;
    }
    &:hover,
    &:active,
    &:focus {
        color:white;
        text-decoration:none;
        background-color:$blueDark;
        .featuredPost-date {
            background-color:$blueDark;
        }
    }
}

.featuredPost-date,.featuredPost-title {
    display: inline-block;
    vertical-align: middle;
}

.featuredPost-date {
    border-right: 1px solid rgb(83,163,192);
    background-color:rgb(55,129,160);
   // transition:background-color .35s;
    text-align: center;
    padding: 11px 5px;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    span {
        display:block;
        font-size:27px;
    }
}

.featuredPost-title {
    width: calc(100% - 84px);
    padding: 9px 5px;
    font-size: 12px;
    line-height: 1.2;
    font-family:inherit;
}

.search-term {
    color:$blue;
}