body {
    font-size: 13px;
	font-family: $sans-serif;

    @media(min-width:$screen-sm-min){
        -webkit-font-smoothing: antialiased;
    }
}
h1, h2, h3, h4, h5 {
	font-family: $sans-serif-alt;
    font-weight: 400;
    line-height: 1.3em;
}
h1 {
    font-size: 2em;
    margin: 0 0 0.67em 0;
}
h2 {
    margin: 0.67em 0;
}
a, a:visited, a:hover {
	color: $blue;
	@include transition(color .35s);
}
b {
	font-weight: 600;
}

.content,
.entry {
    color:#747474;
    p {
        margin: 0 0 1.3em;
    }
}

.page-content {
    p {
        margin:0 0 1.3em;
    }
    ul {
        padding-left:2em;
    }
}

.error-text {
    font-family:monospace;
    word-wrap:break-word;
}