<a ui-sref="events.index">Get All Events</a>
<article class="event">
	<div class="event-photo">
		<img ng-src="{{EventsCtrl.detail.thumbFacebookMetaTag}}" />
	</div>
	<div class="event-details">
		<header>
			<time class="event-time">{{EventsCtrl.detail.publishDate | date:'MMMM'}} <span>{{EventsCtrl.detail.publishDate | date:'d'}}</span></time>
		</header>
		<div class="event-content">
			<a class="event-directions" href="{{EventsCtrl.detail.address}}">
				Directions
			</a>
			<h1 class="event-title">{{EventsCtrl.detail.title}}</h1>
			<div class="event-meta" ng-bind-html="EventsCtrl.detail.synopsis | unsafe"></div>
			<div class="event-body" ng-bind-html="EventsCtrl.detail.content | unsafe"></div>
		</div>
	</div>
</article>