<aside class="rightSidebar featuredPost-container">

	<date-time></date-time>

	<h2 class="featuredPost-heading">Featured {{postType}}</h2>
	<ul class="featuredPost-list">
		<li ng-repeat="post in featured" class="featuredPost" ng-show="{{post.hideInMenu}}" ng-hide="!{{post.published}}">
			<a class="featuredPost-link" ui-sref="{{postType == 'Posts' ? 'blog.post' : '.event'}}({postUrl:post.urlAlias})" ui-sref-active="active">
				<div class="featuredPost-date">
					{{post.publishDate | date:'MMMM'}}
					<span>{{post.publishDate | date:'dd'}}</span>
				</div>
				<samp class="featuredPost-title">{{post.title}}</samp>
			</a>
		</li>
	</ul>

</aside>