<div class="footer-container">
	<twwm-cookie></twwm-cookie>
	<footer class="footer" role="contentinfo" ng-hide="footerClosed">
		<p class="footer-content">
			<a class="u-floatRight js-closeFooter footer-icon">
				<i class="dn-icon-mobilise-close">
					<span class="path2"></span>
				</i>
			</a>
			<span>Get the Full Experience. Download the App Now!</span>
			<a href="https://itunes.apple.com/us/app/the-whole-world-mobilising-go-forward/id1206269738?mt=8"><img src="Content/Images/icon-appStore.png" /></a>
			<a href="https://play.google.com/store/apps/details?id=twwm_droid.twwm_droid"><img src="Content/Images/icon-googlePlay.png" /></a>
		</p>
	</footer>
</div>
