<div class="flyoutHeader">
	<i class="dn-icon-connect-outlined flyoutHeader__icon"></i>

	<span class="flyoutHeader__text">Connect</span>

	<twwm-flyoutclose></twwm-flyoutclose>
</div>

<div id="fb-root"></div>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1896686390567299";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<!--<div ng-bind-html="connectVm.fbFeed | unsafe"></div>-->
<div class="fb-page" data-href="https://www.facebook.com/mobilising/" data-tabs="timeline" data-width="350" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-height="700">
	<blockquote cite="https://www.facebook.com/mobilising/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mobilising/">Boundless - The Whole World Mobilising</a></blockquote>
</div>

