<aside class="leftSidebar participate-sidebar">
	<ul class="participate-nav">
		<li class="participate-navItem">
			<a class="participate-navLink" ui-sref="participate.index" ui-sref-active="{'active':'participate.index', 'active 1': 'participate.readItem'}" twwm-flyout-open><span></span> Read</a>
		</li>
		<li class="participate-navItem">
			<a class="participate-navLink" ui-sref="participate.pray" ui-sref-active="{'active':'participate.pray', 'active 1': 'participate.prayer'}" twwm-flyout-open><span></span> Pray</a>
		</li>
		<li class="participate-navItem">
			<a class="participate-navLink" ui-sref="participate.mobilise" ui-sref-active="{'active': 'participate.mobilise.**', 'active 1': 'participate.activity', 'active 2': 'participate.evangelism'}" twwm-flyout-open><span></span> Mobilise</a>
		</li>
		<li class="participate-navItem">
			<a class="participate-navLink" ui-sref="participate.reach" ui-sref-active="{'active':'participate.reach', 'active 1': 'participate.reachItem'}" twwm-flyout-open><span></span> Reach</a>
		</li>
		<li class="participate-navItem">
			<!--<a class="participate-navLink" ui-sref="participate.connect" ui-sref-active="active" twwm-flyout-open><span></span> Connect</a>-->
			<a class="participate-navLink" href="https://www.facebook.com/mobilising/" target="_blank"><span></span> Connect</a>
			
		</li>
	</ul>
</aside>