<div class="flyoutHeader">
	<i class="dn-icon-read-solid flyoutHeader__icon"></i>

	<span class="flyoutHeader__text">Read</span>

	<twwm-flyoutclose></twwm-flyoutclose>
</div>

<div class="flyoutNavigation">
	<span class="flyoutNavigation__control" ui-sref="participate.index">
		<i class="dn-icon-arrow-back"></i>
		Back
	</span>
</div>

<div class="flyoutContent">

	<div class="newActivity newActivity__success newActivity__single">
		<div class="row">
			<div class="col-xs-9">
				<p class="newActivity__title">{{vm.content.title}}</p>
				<p class="newActivity__date"><i class="dn-icon-calendar"></i> {{::vm.content.publishDate | date: 'dd/MM/yyyy'}}</p>
			</div>
			<div class="col-xs-3">
				<span class="participatePost-count">+{{::vm.content.actionCount}}</span>
				<span class="participatePost-personIcon"><i class="dn-icon-person-solid" ng-hide="vm.content.urgent"></i><span class="participatePost-isFlagged" ng-show="vm.content.urgent">!</span></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 newActivity_description" ng-bind-html="vm.content.body | unsafe">
			</div>
		</div>

		<comment></comment>

		<div class="row">
			<div class="col-xs-6 share-container" data-type="{{::vm.type}}" data-id="{{::vm.content.id}}" twwm-share>
				<a class="btn btn-cancel">
					Share
					<img src="../../../Content/Images/share-dark@2x.png" />
				</a>
				<div class="share-box">
					<div fb-like="vm.fullUrl"></div>
					<div tweet="vm.content.title" tweet-url="vm.fullUrl"></div>
				</div>
			</div>
			<div class="col-xs-6">
				<button class="btn" ng-class="{'btn-selected': vm.content.actioned === true}" ng-click="vm.toggleParticipation(vm.content.id, vm.content.actioned)">
					{{ vm.content.actioned ? "I Read This" : "Mark as Read"}}
					<i class="dn-icon-checkmark" ng-show="vm.content.actioned"></i>
				</button>
			</div>
		</div>


		<div class="row" ng-hide="(vm.loggedInUsername !== vm.content.username) && !currentUser.isAdmin">
			<div class="col-xs-12">
				<a class="newActivity__delete" ng-click="vm.removeItem(vm.content.id)"><i class="dn-icon-trash"></i> Delete this Item</a>
			</div>
		</div>

	</div>

</div>