<div id="wrapper">
	<dashboard-navigation></dashboard-navigation>

	<main class="content dashboard-content hasSidebar">
		<section>
			<ul class="dashboard-tabs">
				<li class="active">
					<a href="#">Today</a>
				</li>
				<li>
					<a href="#">Month</a>
				</li>
				<li>
					<a href="#">Year</a>
				</li>
			</ul>

			<!--  Description Tab's Content  -->
			<div class="dashboard-tabContent">
				<div class="row margin-bottom-xl padding-bottom-xl">
					<div class="col-md-3 dashboard-tabStat">
						<div class="dashboard-stat">
							<span>20</span>
						</div>
						<div class="dashboard-label">
							People Praying
							<span class="dashboard-labelDetails">93% of Global Average</span>
						</div>
					</div>
					<div class="col-md-3 dashboard-tabStat">
						<div class="dashboard-stat">
							<span>20</span>
						</div>
						<div class="dashboard-label">
							People Praying
							<span class="dashboard-labelDetails">93% of Global Average</span>
						</div>
					</div>
					<div class="col-md-3 dashboard-tabStat">
						<div class="dashboard-stat">
							<span>20</span>
						</div>
						<div class="dashboard-label">
							People Praying
							<span class="dashboard-labelDetails">93% of Global Average</span>
						</div>
					</div>
					<div class="col-md-3 dashboard-tabStat">
						<div class="dashboard-stat">
							<span>20</span>
						</div>
						<div class="dashboard-label">
							People Praying
							<span class="dashboard-labelDetails">93% of Global Average</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 dashboard-tabStat">
						<div class="dashboard-stat">
							<span>20</span>
						</div>
						<div class="dashboard-label">
							People Praying
							<span class="dashboard-labelDetails">93% of Global Average</span>
						</div>
					</div>
					<div class="col-md-3 dashboard-tabStat">
						<div class="dashboard-stat">
							<span>20</span>
						</div>
						<div class="dashboard-label">
							People Praying
							<span class="dashboard-labelDetails">93% of Global Average</span>
						</div>
					</div>
					<div class="col-md-3 dashboard-tabStat">
						<div class="dashboard-stat">
							<span>20</span>
						</div>
						<div class="dashboard-label">
							People Praying
							<span class="dashboard-labelDetails">93% of Global Average</span>
						</div>
					</div>
					<div class="col-md-3 dashboard-tabStat">
						<div class="dashboard-stat">
							<span>20</span>
						</div>
						<div class="dashboard-label">
							People Praying
							<span class="dashboard-labelDetails">93% of Global Average</span>
						</div>
					</div>
				</div>
			</div>
		</section>
</main>

	<aside class="rightSidebar dashboard-sidebarContent">
		<div class="location-selector">
			<strong>Corps:</strong> Mayfair Community Corps, Chicago, USA <a class="location-selectorToggle">&nbsp;</a>
		</div>
		<div class="location-filters">
			<a href="#" class="active">Activities</a>
			<a href="#">Reached</a>
			<h3>Top 25 List</h3>
		</div>
		<ol class="dashboard-list">
			<li>
				<div class="dashboard-profilePhoto active">
					<img src="http://www.fillmurray.com/85/85" />
				</div>
				<div class="dashboard-activities">
					<strong>Me</strong><br />
					32 Activities Completed
				</div>
			</li>
			<li>
				<div class="dashboard-profilePhoto active">
					<img src="http://www.fillmurray.com/85/85" />
				</div>
				<div class="dashboard-activities">
					<strong>Me</strong><br />
					32 Activities Completed
				</div>
			</li>
			<li>
				<div class="dashboard-profilePhoto active">
					<img src="http://www.fillmurray.com/85/85" />
				</div>
				<div class="dashboard-activities">
					<strong>Me</strong><br />
					32 Activities Completed
				</div>
			</li>
		</ol>
	</aside>

</div>